# Dependencias
node_modules/
api/node_modules/
web/node_modules/

# Builds
dist/
web/dist/
dist-ssr/

# Variables de entorno locales
.env
api/.env
web/.env
*.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# Editores y Sistema
.vscode/
.idea/
.DS_Store
Thumbs.db
.vite/
